<h2>Donar d'alta un nou vi</h2>

<div>
  <h4 class="error">{{ message }}</h4>
  <form (ngSubmit)="createWine()" [formGroup]="wineForm">

    <!-- Wine name -->
    <div><input type="text" name="name" placeholder="Nom del vi" formControlName="name" required></div>
    <div class="error" *ngIf="(wineForm.controls['name']?.dirty || message) && wineForm.controls['name']?.invalid">
      <div *ngIf="wineForm.controls['name'].errors?.['required']">El nom del vi és obligatori.</div>
      <div *ngIf="wineForm.controls['name'].errors?.['wineNameValid']">El nom del vi no és vàlid</div>
    </div>

    <!-- Wine price -->
    <div><input type="number" name="price" placeholder="Preu del vi" formControlName="price" required></div>
    <div class="error" *ngIf="(wineForm.controls['price']?.dirty || message) && wineForm.controls['price']?.invalid">
      <div *ngIf="wineForm.controls['price'].errors?.['required']">El preu del vi és obligatori.</div>
      <div *ngIf="wineForm.controls['price'].errors?.['min']">El preu del vi ha de ser d'1€ com a mínim.</div>
    </div>


    <!-- Wine image -->
    <div><input type="text" name="imgURL" placeholder="URL de la imatge del vi" formControlName="imgURL"></div>
    <div class="error" *ngIf="(wineForm.controls['imgURL']?.dirty || message) && wineForm.controls['imgURL']?.invalid">
      <div *ngIf="wineForm.controls['imgURL'].errors?.['required']">La URL de la imatge del vi és obligatòria.</div>
      <div *ngIf="wineForm.controls['imgURL'].errors?.['pattern']">La URL de la imatge del vi no és vàlida.</div>
    </div>


    <!-- Wine image -->
    <!-- <div><input type="text" ngModel name="imageUrl" placeholder="URL de la imatge del vi" #wineImageUrl="ngModel" pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$" required></div>
    <div class="error" *ngIf="(wineImageUrl.dirty || message) && wineImageUrl.invalid">
      <div *ngIf="wineImageUrl.errors?.['required']">La URL de la imatge del vi és obligatòria.</div>
      <div *ngIf="wineImageUrl.errors?.['pattern']">La URL de la imatge del vi no és vàlida.</div>
    </div> -->

    <!-- Wine on sale or not -->
    <!-- <div class="checkbox"><input type="checkbox" ngModel name="isOnSale">En venda</div> -->

    <!-- Submit button -->
    <button type="submit">Donar d'alta</button>

  </form>
</div>
